<?xml version="1.0" encoding="utf-8"?>
<sources>

  <!--
    Set the 'location' attribute to download packages form a nuget package gallery or a simple folder with Rhetos packages.
  -->

  <!-- Local folder -->
  <!--<source location="C:\Users\ibarbancic\source\repos\MIS2\Install" />-->
  <source location="http://proton:8000/api/v2/" />
  <source location="\\server06\AD Isporuke\Core\Rhetos\Prerelease" /> 

  <!-- NuGet online gallery -->
  <source location="https://www.nuget.org/api/v2/" />

  <!-- Local folder -->
  <!--<source location="..\Packages" />-->

</sources>
