<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!--<package id="Rhetos" source="C:\Users\ibarbancic\source\repos\Rhetos" />-->
  <!--<package id="Rhetos.MvcModelGenerator" source="C:\Users\ibarbancic\source\repos\MvcModelGenerator" />-->
  <!--<package id="Rhetos.OmegaCommonConcepts" source="C:\Users\ibarbancic\source\repos\RhetosExtensions\OmegaCommonConcepts" />-->
  <!--<package id="Rhetos.OmegaCommonConceptsTest" source="C:\Users\ibarbancic\source\repos\RhetosExtensions\OmegaCommonConcepts\OmegaCommonConceptsTest" />-->
  <!--<package id="MRRFEU.MIS.Rhetos" source="C:\Users\ibarbancic\source\repos\MIS2\Source\MIS.Rhetos"/>-->
  <package id="Rhetos.CommonConcepts" source="..\..\CommonConcepts" />
  <package id="Rhetos.CommonConceptsTest" source="..\..\CommonConcepts\CommonConceptsTest" />
  <!--
    Deploying packages from a folder with NuGet packages or online NuGet gallery:
    =============================================================================
    Omit the 'version' attribute to get the latest package version. The version attribute will then be automatically set on deployment.
    Add the 'source' attribute to use the specific source for the package instead the sources provided in {SourcesConfigurationFile}.
    
    Examples:
    <package id="Rhetos.CommonConcepts" />
  -->

  <!--
    Deploying packages from the development source folder (unpacked):
    =================================================================
    Use the 'source' attribute for the package's source folder.
    
    Examples:
    <package id="Rhetos.CommonConcepts" source="..\..\CommonConcepts" />
  -->
  
  <!--
    Deploying legacy package file in .zip format from a folder:
    ===========================================================
    Set the package id and version to match the filename: id + "_" + version.Replace(".", "_") + ".zip"
    Add the 'source' attribute to use the specific source for the package instead the sources provided in {SourcesConfigurationFile}.
    
    Examples:
    <package id="CommonConcepts" version="0.9.12" source="..\OldPackages" />
  -->

</packages>
